<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Country" aria-label="Country" [matAutocomplete]="countries" [formControl]="countryCtrl" (change)="loadCities($event)" >
    <mat-autocomplete #countries="matAutocomplete">
      <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
        <span>{{country}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
<br><br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="City" aria-label="City" [matAutocomplete]="cities" [formControl]="cityCtrl">
    <mat-autocomplete #cities="matAutocomplete">
      <mat-option *ngFor="let city of filteredCities | async" [value]="city">
        <span>{{city}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>  

